@import '../../styles/index'; 
@import '../../styles/variables'; 

.newway{
  @include container-config;
  @include section-flex-config;
  flex-direction: column-reverse;  
  margin-top: 286px;
  &__img{
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
  }

  &__content{
    max-width: 481px;
    &__title{
      @include section-title-config; 
    }
    &__text{
      @include section-text-config;
    }
    &__btn{
      @include section-btn-config;
    }
  }
  @media (min-width: 70em) {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__img{
      margin-top: 0;
    }
  }
}
