@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
   --orange: #FB8F1D;
   --green: #1ABE84;
   --black: #202336;
   --gray: #7D7987;
   --light-gray: #B8BECD;
}

body{
   font-family: 'Inter';
   margin: 0;
}

// .App{
//    margin: auto;
//    max-width: 1350px;
//    width: 85%;
// }