// Colors
$color-orange: #FB8F1D;
$color-green: #1ABE84;
$color-black: #202336;
$color-gray: #7D7987;
$color-light-gray: #B8BECD;

$color-login-green: #B4D51E;
$color-login-gray: #CBCBCB;
$color-login-lightgray: #D5D5D5;
$color-login-black: #232323;

// Fonts
$login-primary: 'Montserrat', sans-serif;

// Screens
$screen-sm: 30em; // 480px
$screen-md: 45em; // 720px
$screen-lg: 60em; // 960px
$screen-xl: 70em; // 1200px

