#home a{
  color: var(--black);
  font-weight: 500;
}

.header{
  @include container-config;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .hamburger {
    background-color: #fff;
    background-image: url(../../assets/menu.svg);
    border: 0;
    height: 40px;
    width: 40px;
    margin-top: 8px;
    // rect{
    //   fill: var(--green);
    // }
  }

  &__btn{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 50%;
    &--login{
      background-color: #fff;
      color: var(--orange);
      margin-right: 20px;
      padding: 8px 46px;
      @include btn-config;
    }
    &--register{
      background-color: var(--orange);
      color: #fff;
      margin-top: 10px;
      padding: 8px 36px;
      @include btn-config;
    }
  }

  &__menu{
    align-items: center;
    display: none;
    list-style: none;
    margin-top: 21px;
    padding-left: 0;
    &--open{
      list-style: none;
      padding-left: 0;
      text-align: left;
    }

    
    &__item a {
      color: var(--light-gray);
      font-weight: 400;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 69.99em) {
  .fixedTop{
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
}

@media (min-width: 70em) {
  .header {
    &__menu{
      display: flex;
      &__item a {
        margin-right: 18px;
      }
    }
    &__btn{
      &--register{
        margin-top: 0;
      }
    }
  }
  .hamburger{
    display: none;
  }
}