#home a{
  color: var(--black);
  font-weight: 500;
}

.header{
  @include container-config;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .hamburger {
    margin-top: 10px;
    rect{
      fill: var(--green);
    }
  }

  &__btn{
    display: flex;
    margin-top: 10px;
    &__login{
      background-color: #fff;
      color: var(--orange);
      margin-right: 20px;
      padding: 8px 46px;
      @include btn-config;
    }
    &__register{
      background-color: var(--orange);
      color: #fff;
      padding: 8px 36px;
      @include btn-config;
    }
  }

  &__menu{
    display: none;
    align-items: center;
    list-style: none;
    margin-top: 21px;
    padding-left: 0;
    &--open{
      list-style: none;
      text-align: left;
      padding-left: 0;
    }
    
    &__item a {
      color: var(--light-gray);
      font-weight: 400;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 69.99em) {
  .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
  }
}

@media (min-width: 70em) {
  .header {
    display: flex;
    justify-content: space-between;
    &__menu{
      display: flex;
      position: relative;
      &__item a {
        margin-right: 18px;
      }
    }
  }
  .hamburger{
    display: none;
  }
}