#home a{
  color: var(--black);
  font-weight: 500;
}

.header{
  @include container-config;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .hamburger {
    margin-top: 10px;
    rect{
      fill: var(--green);
    }
  }

  &__btn{
    &--login{
      background-color: #fff;
      color: var(--orange);
      padding: 8px 46px;
      @include btn-config;
    }
    &--register{
      background-color: var(--orange);
      color: #fff;
      padding: 8px 36px;
      @include btn-config;
    }
  }

  &__menu{
    align-items: center;
    display: none;
    list-style: none;
    margin-top: 21px;
    &--open{
      align-items: center;
      background-color: #fff;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style: none;
      height: 100vh;
      width: 100vw;
      margin-top: 0;
      padding: 35%;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 2;
      opacity: 1;
    }
    &--close{
     background-color: #fff;
     border: 0;
     font-weight: 900;
     font-size: 30px;
     left: 40px;
     position: absolute;
     top: 40px;
    }

    
    &__item a {
      color: var(--light-gray);
      font-weight: 400;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

// @media (max-width: 69.99em) {
//   .fixedTop{
//     background-color: #fff;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 2;
//   }
// }

@media (min-width: 70em) {
  .header {
    &__menu{
      display: flex;
      &--close{
        display: none;
      }
      &__item a {
        margin-right: 18px;
      }
    }
    &__btn{
      &--login{
        margin-right: 20px;
      }
      &--register{
        margin-top: 0;
      }
    }
  }
  .hamburger{
    display: none;
  }
}