@import '../../styles/index'; 
@import '../../styles/variables'; 

#home a{
  color: var(--black);
  font-weight: 500;
}

.header{
  @include container-config;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .hamburger {
    margin-top: 10px;
    rect{
      fill: var(--green);
    }
  }

  &__btn{
    &--login{
      background-color: #fff;
      color: var(--orange);
      padding: 8px 46px;
      @include btn-config;
    }
    &--register{
      background-color: var(--orange);
      color: #fff;
      padding: 8px 36px;
      @include btn-config;
    }
  }

  &__menu{
    align-items: center;
    list-style: none;
    height: 100vh;
    position: fixed;
    right: -100vw;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    top: 0;
    transition: right 1s ease-in-out;
    z-index: 2;
    &--open{
      @extend .header__menu;
      padding: 35%;
      width: 100vw;
      right: 0;
    }
    &--close{
      background-color: #fff;
      border: 0;
      font-weight: 900;
      font-size: 30px;
      left: 40px;
      position: absolute;
      top: 40px;
      outline: 0;
    }

    
    &__item a {
      color: var(--light-gray);
      font-weight: 400;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 70em) {
  .header {
    &__menu{
      display: flex;
      position: relative;
      flex-direction: row;
      height: auto;
      right: auto;
      padding: 0;
      margin-top: 15px;
      &--close{
        display: none;
      }
      &__item a {
        margin-right: 18px;
      }
    }
    &__btn{
      &--login{
        margin-right: 20px;
      }
      &--register{
        margin-top: 0;
      }
    }
  }
  .hamburger{
    display: none;
  }
}