@import '../../styles/index'; 
@import '../../styles/variables'; 

.trending{
  @include container-config;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    margin-top: 200px;
    &__title{
      @include section-title-config;
      max-width: 190px;
    }

    &__viewall{
      @include viewall-config;
    }
  }

  &__pictures{
    @include wrap-pictures-config;
  
    &__img{
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      height: 250px;
      width: 270px; 
    }
    &__figcaption{
      --black: #000000;
      font-family: 'Inter';
      font-size: 19px;
      font-weight: 700;
      line-height: 30px;
      max-width: 270px;
    }
    &__smfigcaption{
      color: var(--gray);
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      max-width: 266px;
    }
    &__readmore{
      color: var(--orange);
      cursor: pointer; 
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
      margin-top: 23px;
      max-width: 266px;
    }
    figcaption{
      text-align: left;
    }
  }

  @media (min-width: 70em) {
    &__top{
      &__title{
        max-width: 400px;
      }
    }
    &__pictures {
      justify-content: space-between;
      &__img{
        object-fit: cover;
        width: 300px;
      }
    }
  }
}