@import '../../styles/index'; 
@import '../../styles/variables'; 

.finder{
  @include container-config;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 80px;
  &__content{
    margin-top: 34px;

    &__btn{
      background-color: var(--orange);
      border: var(--orange);
      border-radius: 8px;
      color: #fff;
      font-family: 'Mulish';
      font-size: 17px;
      font-weight: 700;
      margin-top: 33.5px;
      padding: 4px 59px 4px 60px;
      height: 52px;
      width: 180px;
      cursor: pointer;
      outline:0;
    }

    &__text{
      color: var(--black); 
      font-family: 'Playfair Display';
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      margin-bottom: 74px;
      height: 160px;
      max-width: 356px;
    }
    
    &__smtext{
      line-height: 27px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 21px;
    }

    &__line{
      background-color: var(--black);
      border-radius: 4px;
      float: left;
      height: 2px;
      width: 32px;
    }
    
    &__dropdown{
      display: flex;
      flex-wrap: wrap;
      margin-top: 48px;
      max-width: 471px;
      &__option{
        --black: #4A4C53;
        background-color: #fff;
        border-radius: 6px;
        border: 0.8px solid #AFB0B9;
        cursor: pointer;
        font-family: 'Inter';
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        height: 52px;
        width: 220px;
        margin-bottom: 17.5px;
        margin-right: 10px;
        padding-left: 31px;
      }
    }
  }

  &__img{
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
  }
}

@media (min-width: $screen-xl) {
  .finder {
    flex-direction: row;
    justify-content: space-between;
    &__img{
      margin-top: 0;
    }
  }
}