.testimonials{
  @include container-config;
  &__review{
    @include section-flex-config;
    &__title{
      margin-bottom: 60px;
      @include section-title-config;
    }
    &__rating{
      display: flex;
      justify-content: space-between;
      width: 150px;
    }

    &__text{
      font-family: 'Mulish';
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px;
      max-width: 450px;
    }

    &__reviewer{
      font-family: 'Inter';
      font-size: 22px;
      font-weight: 700;
      line-height: 10px;
    }

    &__company{
      font-family: 'Inter';
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1px;
    }
  }
  &__image{
    position: relative;
    &__previousBtn{
      @include overlay-btn-config;
      border: 2px solid #D7D7D7;
      color: #D7D7D7;
      
    }
    &__nextBtn{
      @include overlay-btn-config;
      border: 2px solid #000;
      color: var(--black);
    }
  }
  &__photo{
    border-radius: 14px;
    height: 430px;
    width: 330px; 
    object-fit: cover;
  }
  figcaption{
    @include overlay-config;
    align-items: center;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    width: 132px;
    right: 0;
  }
  @media (min-width: 70em) {
    &__review{
      align-items: center;
      justify-content: space-between;
    }
    &__photo{
      height: 491px;
      width: 384px; 
    }
  }
}