.loginForm{
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 0 1px #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 1s ease-in-out;
  z-index: 3;

  // opacity: 0;
  // visibility: hidden;
  &--open{
    @extend .loginForm;
    width: 100vw;
    // opacity: 1;
    // visibility: visible;
    // transition: opacity .5s ease-in-out .8s;
  }
  &--close{
    cursor: pointer;
    left: 0;
    height: 30px;
    width: 20px;
    top: 27px;
    margin-left: 9%;
    position: absolute;
    outline: 0;
  }

  &__container{
    width: 80%;
  }

  &__title{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__greeting{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;
  }

  &__input{
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    outline-color: #8B8B8B;
  }
  
  input {
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    height: 64px;
    width: -webkit-fill-available;
    margin-bottom: 8px;
    padding: 0 23px;
  }

  &__actions{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__link{
      align-items: center;
      color: #B4D51E;
      display: flex;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-decoration: underline;
      text-decoration-color: #B4D51E;
    }
    &__btn{
      align-items: center;
      background: #B4D51E;
      border: 1px solid #B4D51E;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: flex;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 600;
      justify-content: space-evenly;
      height: 48px;
      width: 118px;
      line-height: 20px;
      outline: 0;
      text-align: center;
    }
  }
}

@media (min-width: 70em) {
  .loginForm{
    &__title{
      font-size: 36px;
    }
    &--open{
      width: 400px;
    }
  }
}