.loginForm{
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 0 1px #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 1s ease-in-out;
  z-index: 3;
  
  &--open{
    @extend .loginForm;
    width: 100vw;
    
  }
  &--close{
    cursor: pointer;
    left: 0;
    height: 30px;
    width: 30px;
    top: 27px;
    margin-left: 10%;
    position: absolute;
    outline: 0;
  }
  
  &__container{
    opacity: 0;
    visibility: hidden;
    &--visible{
      height: 420px;
      width: 80%;
      opacity: 1;
      transition: opacity .5s ease-in-out .8s;
      visibility: visible;
    }
  }
  
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35em;
    margin-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  &__greeting{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35em;
    margin: 0 0 40px 0;
    color: #8b8b8b;
    width: 80%;
  }
  
  &__input{
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    outline: none;
  }
  input {
    border-radius: 100px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    height: 58px;
    width: 100%;
    margin-bottom: 20px;
    min-height: 58px;
    padding: 0 20px;
    color: #D5D5D5;
  }
  :focus {
    border-color: #B4D51E;
  }
  ::placeholder {
    color: #CBCBCB;
  }

  &__actions{
    align-items: center;
    display: flex;
    height: 50px; 
    justify-content: space-between;
    margin-top: 10px;
    &__link{
      align-items: center;
      color: #B4D51E;
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      text-decoration-color: #B4D51E;
    }
    &__btn{
      width: 45%; 
      min-height: 50px; 
      font-size: 14px;
      align-items: center;
      background: #B4D51E;
      border: #B4D51E;
      border-radius: 100px;
      color: #fff;
      cursor: pointer;
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      justify-content: center;
      position: relative;
      outline: 0;
      svg {
        margin-right: 15px;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (min-width: 70em) {
  .loginForm{
    &--open{
      width: 400px;
    }
    &__container{
      &--visible{
        height: 438px;
      }
    }
    &__title{
      font-size: 36px;
    }
    &__greeting{
      font-size: 16px;
    }
  }
}