@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
   --orange: #FB8F1D;
   --green: #1ABE84;
   --black: #202336;
   --light-gray: #B8BECD;
}

.container{
   max-width: 1600px;
   margin: 0 auto;
}