.footer{
  background-color: #F9F9FB;
  margin-top: 196px;
  padding-top: 70px;
  @include footer-text-config;
  &__container{
    @include container-config;
    margin-bottom: 81px;
    height: 237px;
  }

  &__info{
    max-width: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__about{
      line-height: 28px;
      margin: 0;
    }
    &__copyright{
      margin-top: 0;
    }
  }

  // footer menu
  &__menu{
    list-style: none;
    margin: 0;
    &__title{
      color: #000;
      font-size: 19px;
      font-weight: 700;
    }
    &__link{
      @include footer-text-config;
      line-height: 30px;
      text-decoration: none;
    }
  }

  // footer icons
  &__icons{
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
    padding-left: 0;
    margin-bottom: 0;
    &__link{
      cursor: pointer;
      margin-right: 10px;
    }
  }
  @media (min-width: 70em) {
    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
}