#home a{
  color: var(--black);
  font-weight: 500;
}

.header{
  @include container-config;
  align-items: center;

  &__btn{
    display: flex;
    margin-top: 10px;
    &__login{
      background-color: #fff;
      color: var(--orange);
      margin-right: 20px;
      padding: 8px 46px;
      @include btn-config;
    }
    &__register{
      background-color: var(--orange);
      color: #fff;
      padding: 8px 36px;
      @include btn-config;
    }
  }

  &__menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-top: 21px;
    padding-left: 0;
    &__item a {
      color: var(--light-gray);
      font-weight: 400;
      margin-right: 7px;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 70em) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}
