.holidays{
  @include section-container-config;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 54px;
    &__title{
      @include section-title-config;
    }

    &__viewall{
      font-family: 'Inter';
      font-size: 17px;
      font-weight: 600;
      color: var(--orange);
    }
  }

  &__pictures{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;

    figcaption{
      background-color: #fff;
      border-top-right-radius: 8px;
      bottom: 0;
      height: 20%;
      width: 10%;
      line-height: 10px;
      position: absolute;
      z-index: 2;
    }
    &__img{
      border-radius: 8px;
      height: 332px;
      width: 270px;
      object-fit: cover;
    }
    &__city{
      font-family: 'Inter';
      font-size: 17px;
      font-weight: 600;
      color: var(--black)
    }
    &__country{
      font-family: Inter;
      font-size: 15px;
      font-weight: 500;
      color: var(--gray);
    }
  }

}