.holidays{
  @include container-config;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 54px;
    &__title{
      @include section-title-config;
    }

    &__viewall{
      @include viewall-config;
    }
  }

  &__pictures{
    @include wrap-pictures-config;
    position: relative;

    figcaption{
      background-color: #fff;
      border-top-right-radius: 8px;
      bottom: 0;
      width: 110px;
      line-height: 10px;
      position: absolute;
      z-index: 2;
    }
    &__img{
      border-radius: 8px;
      height: 332px;
      width: 290px;
      object-fit: cover;
    }
    &__city{
      font-family: 'Inter';
      font-size: 17px;
      font-weight: 600;
      color: var(--black)
    }
    &__country{
      font-family: Inter;
      font-size: 15px;
      font-weight: 500;
      color: var(--gray);
    }
  }

  .overlay{
    position: relative;
  }
  
  @media (min-width: 70em) {
    &__pictures {
      justify-content: space-between; // desktop 
    }
  }

}