.newway{
  @include container-config;
  @include section-flex-config;
  margin-top: 286px;
  &__img{
    max-height: 100%;
    max-width: 100%;
  }

  &__content{
    max-width: 481px;
    &__title{
      @include section-title-config; 
    }
    &__text{
      @include section-text-config;
    }
    &__btn{
      @include section-btn-config;
    }
  }
  @media (min-width: 70em) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
