.trending{
  @include section-container-config;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 54px;
    &__title{
      @include section-title-config;
    }

    &__viewall{
      @include viewall-config;
    }
  }

  &__pictures{
    @include wrap-pictures-config;
  
    &__img{
      height: 250px;
      width: 270px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      object-fit: cover;
    }
    &__figcaption{
      font-family: 'Inter';
      font-size: 19px;
      font-weight: 700;
      line-height: 30px;
      max-width: 252px;
      --black: #000000;
    }
    &__smfigcaption{
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      color: var(--gray);
      max-width: 266px;
    }
    &__readmore{
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
      color: var(--orange);
      max-width: 266px;
      margin-top: 23px;
    }
    figcaption{
      text-align: left;
    }
  }

  @media (min-width: 70em) {
    &__pictures {
      justify-content: space-between; // desktop 
    }
  }
}